--- 
jobs: 
  include: 
    - 
      before_install: "cd Spring/shoppingList"
      cache: 
        directories: 
          - $HOME/.m2
      deploy: 
        api_key: $HEROKU_TOKEN
        app: shopping-list-fswp
        provider: heroku
        skip_cleanup: true
        true: main
      install: true
      jdk: openjdk8
      language: java
      script: "mvn -B test"
    -
      before_install: cd Angular/static-ui
      language: node_js
      node_js:
        - "10"
      sudo: false
      cache:
        directories:
          - node_modules
      before_script:
        - npm install -g @angular/cli
      script:
        - ng lint
        - ng test --watch=false
      script: echo "npm test temporarily disabled"
      deploy:
        skip_cleanup: true
        provider: heroku
        api_key: $HEROKU_TOKEN
        app: shopping-list-fswp
        on: main
