<mat-card class="item-mat-card">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle color="white">{{item.quantity}} {{item.quantity_type}}</mat-card-subtitle>
        
    </mat-card-header>
    <div class="right-corner">
        <mat-icon (click)="delete(item)" color="warn" class="item-delete-icon">delete</mat-icon>
        <mat-icon (click)="openAddModifyDialog(item)" color="primary" class="item-modify-icon">build</mat-icon>
    </div>
</mat-card>
