:host{
    .main{
        display: flex;
        flex-direction: column;
    }
    button{
        background-color: #3f51b5ab;
        color: white;
    }
    
    .invalid_login{
        color: red;
        font-size:small;
    }
}