

.friends-body{
    margin-right: 250px;
}

.friends-list{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: white;
    height: 40px;
    background-color: #3f51b5ab;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
    width: 40%;
    margin-left: 20%;
}


table {
    width: 40%;
    margin-left: 20%;
  }
.add-friend-button{
    margin: 0;
    margin-right: 250px;
	padding: 0;
	position: absolute;
	right: 50px;
	bottom: 50px;
}